.mainlayout {
  padding-left: 15%;
  padding-right: 15%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 600px;
  width: 35%;
  float: left;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 24px 0 rgba(172, 34, 34, 0.2);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
