.awssld__content {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.awssld__bullets {
  z-index: 3;
  bottom: 0px;
  button {
    width: 12px;
    height: 12px;
  }
}

.awssld__wrapper {
  height: calc(100% - 20px);
}
